extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title
	link(rel='stylesheet', href='/stylesheets/style.css')
block body
	+navbar("Colenso","dropdown_menu")
		+nav_item("/") Home  
			span
				+icon("home")
		+nav_item("/search") Search  
			span
				+icon("search")
		+nav_item("/add") Add  
			span
				+icon("plus")
	
	.container
		h2
			span 
				+icon("download")
				a(href="/download/"+downLink download) Download
			br
			span 
				+icon("edit")
				a(href="/edit/"+downLink) Edit
		br
		.container
				
		
		#result
			p !{queryResult}
