extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title
block body
	+navbar("Colenso","dropdown_menu")
		+nav_item("/","active") Home  
			span
				+icon("home")
		+nav_item("/search") Search  
			span
				+icon("search")
		+nav_item("/add") Add  
			span
				+icon("plus")
		
	h1 #{title}
	
	.container
		//need to think of how to push search button next to input
		//need to know how to change the sizes of them.
		//NEED TO MAKE SEARCH QUERY WORK
		
		h4 Title of Document
		form(action="/search", method="get")
			input(type="text",name="title",placeholder="Enter title")
			input(type="submit",value="search")
		
		h3 OR
		h4 Author of Document
		form(action="/search", method="get")
			input(type="text",name="author",placeholder="Enter Author")
			input(type="submit",value="search")
		h3 OR
		h4 Find text in Document
		form(action="/search", method="get")
			input(type="text",name="text",placeholder="Enter Text")
			input(type="submit",value="search")
			
		.container
		link(rel='stylesheet', href='/stylesheets/style.css')
				
		
		#result
			p !{queryResult}
