extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title
block body
	+navbar("Colenso","dropdown_menu")
		+nav_item("/","active") Home  
			span
				+icon("home")
		+nav_item("/search") Search  
			span
				+icon("search")
		+nav_item("/add") Add  
			span
				+icon("plus")
		
	h1 #{title}
	
	.container
		
		+input("text","titleTxt","Title","Title of Document")
		+a-btn-success("#") Search  
			span
				+icon("search")
		p OR
		+input("text","authorTxt","Author","Author of Document")
		p OR
		+input("text","wordTxt","Word","Find Text in Document")
		
		.container
		link(rel='stylesheet', href='/stylesheets/style.css')
				
		
		#result
			p !{queryResult}
