/**
body {
  padding: 50px;
  font: 14px "Times New Roman", Times, serif;
  color: #FF0000;
}

a {
  color: #FF0000;
**/

#result{
	background-color: lightblue;
	color: #FF0000;
}

title{
	color: black;
	display: block;
}

name{
	color: black;
	display: block;
}
